.contact {

	section {
		&:first-child {
			text-align: center;
			padding-top:60px;
			background-color: $seagreen;
			h1 {
				font-size: 35px;
				margin-top: 20px;
				padding-top: 20px;
				font-weight: 400;
			}
			p {
				width: 90%;
				max-width: 650px;
				margin: 20px auto;
				padding: 0 20px 30px;
			}
		}
	}

	.contact-map {
		width: 100%;
		height: 400px;
		background: url('src/images/contactmap.jpg') center center no-repeat;
		-webkit-background-size: cover;
	 	-moz-background-size: cover;
	  -o-background-size: cover;
		background-size: cover;
	}


	.error, .success {
		font-size: 20px;
	  border-radius: 3px;
	  max-width: 720px;
	  margin: 40px auto;
	  padding: 15px 0;
	  text-align: center;
	}

	.error {
	  border: 1px solid red;
	  color: red;
	}

	.success{
	  border: 1px solid green;
	  color: green;

	}

	form {
		width: 100%;
		max-width: 720px;
		margin: 30px auto;
		p {
			margin: 0 auto 20px;
			font-size: 18px;
			font-weight: 700;
		}
		textarea {
			display: block;
			width: 100%;
			border: 1px solid $seagreen;
		  padding: 10px 0 80px 5px;
		  margin: 20px auto 0;
		  max-width: 720px;
		  resize: none;
		  outline: none;
		}

		input {
			display: block;
			width: 100%;
			margin-top: 20px;
			border: 1px solid $seagreen;
			padding: 10px 0 10px 5px;
			font-size: 18px;
			@include media-min-width(mobile + 1) {
				width: 40%;
			}

		}
		input[type='submit']{
			font-weight: 400;
			&:hover {
				background-color: $seagreen;
				color: $white;
			}
		}
		span{
		  color: red;
		}
	}

	input.human {
		display: inline-block;
		border: 1px solid $black;
		width: 60px;
		border: 1px solid $seagreen;
	}

}
