.firm {

	div.firm-description {
		position: relative;
		max-width: $container-max-width;
		margin: 20px auto;
		p {
			padding: 30px 20px;
			max-width: $content-lenght;
			margin: 0 auto;
			font-size: 18px;
			font-weight: 400;
		}
	}

	.member {
		overflow: hidden;
		padding-bottom: 20px;
		@include media-min-width(tablet) {
			margin: 20px;
			&:nth-child(odd){
				.member-image {
					float:left;
				}
				.member-copy {
					float:right;
					&__name,
					&__title,
					&__copy,
					p {
						margin-left: 25px;
					}
				}
			}
			&:nth-child(even){
				.member-image {
					float:right;
					&__image {
						float:right;
						margin-right: 0;
					}
				}
				.member-copy {
					float:left;
					&__copy {
						margin-right: 25px;
					}
				}
			}
		}
	}

	.member-image {
		height: 350px;
		width: 100%;
		overflow: hidden;
		@include media-min-width(tablet) {
			width: 40%;
		}
		&__image {
			display: block;
			margin: 20px auto;
			@include media-min-width(tablet) {
				width: 300px;
				margin: 0;
			}
		}
	}

	.member-copy {
		width: 100%;
		@include media-min-width( tablet ) {
			width: 60%;
		}
		&__name,
		&__title {
			margin-bottom: 20px;
		}
		&__name{
			font-size: 18px;
			font-weight: 700;
		}
		&__copy {
			max-width: $content-lenght;
			font-size: 16px;
		}
	}

}
