/*Header*/
.site-header {
	position:fixed;
	width:100%;
	overflow: hidden;
	z-index: 40;
	opacity: 0.9;
	h1 {
		text-align: center;
	}
	a {
	text-decoration: none;
	}
	&.white-background {
		background: $white;
		a {
		color: $gray;
	}
	}
}

.c-hamburger {
	&.white-background {
		span {
			background: $gray;
			&::before, &::after{
				background-color: $gray;
			}	
		}
	}	
}

.site-branding {
	position: fixed;
	visibility: hidden;
	 a {
	 	margin: 10px 20px;
	 	display: block;
	 	img{
	 	height: 36px;
	 	border-radius: 5px;
	 	}
	 }
	 &.white-background {
	 	visibility: visible;
	 }
}

/*Navigation Menu*/

.site-nav {
	float: right;
	display: block;
	margin: 20px 30px;
	ul {
		margin: 0;
		padding: 0;
		&:before,&:after {
			content: ""; display: table;
		}
		&:after { 
			clear:both; 
		}
		li {
			list-style: none;
			float: left;
			margin-left: 20px;
			text-transform: capitalize;
			a {
				letter-spacing: 1.5px;
				color: $white;
				font-weight: 400;
				padding-top:5px;
				&:link, &:visited {
					margin-right: 5px;
				}
				&:hover,&:active {
					color: $silver;
					border-bottom: 1px solid $silver;
				}
				&.white-background {
					color: $gray;
				}
			}	
		}
	}
}


@include media(large) {
	.site-header {
		height: 60px;
		@include prefix(transition, all 0.5s ease-in 0.8s, webkit ms o);
		&.active{
		height: 100%;
		}
	}

	.site-nav {
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    right: -50%;
	    left: 100%;
	    z-index: 150;
	    visibility: hidden;
			padding:0;
			margin: 0;
	    float: none;
	   
	    background-color: $gray;
	    @include prefix(transition, all 0.5s ease-in, webkit ms o);
		&.active {
			visibility: visible;
			right: 0;
			left: 50%;
			opacity: 1;
			background-color: $black;
			@include prefix(transition, all 0.5s ease-in, webkit ms o);
		}
	    ul {
	    	display: block;
		    position: absolute;
		    top: 50%;
		    @include prefix(transform, translateY(-50%), webkit ms o );
		    li {
	    		color: $white;
		    	width: 100%;
		    	margin-bottom: 30px;
		    	&.current-menu-item {
		    		a {
		    			color: $white;
		    			border-bottom: 1px solid $white;
		    		}
		    	}
		    	a {
				color: $gray;
				font-size: 18px;
				margin-bottom: 20px;
				padding-bottom: 10px;
				letter-spacing: 2px;
				&:link, &:visited {
					margin-right: 5px;
				}
				&:hover, &:active {
					color: $white;
					border-bottom: 1px solid $white;
				}
			}	
		    }
	    }
	}
	
	.c-hamburger {
		top: 5px;
		right: 10px;
		display: block;
	}

	div.logo {
		
		img{
			height: 150px;
		}
	}
}

@include media(tablet) {

	.site-nav {
		right: -100%;
		left: 100%;
		ul {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			@include prefix(transform, translateY(-50%) translateX(-50%), webkit ms o );
			// transform: translateY(-50%) translateX(-50%);
			li {
				margin: 20px 0;
				text-align: center;
			}
		}
		&.active {
			right: 0;
			left: 0;
		}
	}


}