/*Header*/
.site-header {
	position:fixed;
	width:100%;
	overflow: hidden;
	z-index: 30;
	h1 {
		text-align: center;
	}
	a {
		text-decoration: none;
	}
}

.site-branding {
	width: 100%;
	position: fixed;
	visibility: hidden;
	z-index: 80;
	opacity: 0.7;
	&.white-background {
		visibility: visible;
		background: $white;
	}
}

.header-logo {
 	margin: 10px 20px;
 	display: block;
 	img{
	 	height: 36px;
	 	border-radius: 5px;
 	}
}

.c-hamburger {
	&.white-background {
		span {
			background: $gray;
			&::before, &::after{
				background-color: $gray;
			}	
		}
	}	
}

/*Navigation Menu*/

.site-nav {
	float: right;
	display: block;
	margin: 20px 30px;
	ul {
		margin: 0;
		padding: 0;
		&:before,&:after {
			content: ""; display: table;
		}
		&:after { 
			clear:both; 
		}
		li {
			list-style: none;
			float: left;
			margin-left: 20px;
			text-transform: capitalize;
			a {
				letter-spacing: 1.5px;
				color: $white;
				font-weight: 400;
				padding-top:5px;
				&:link, &:visited {
					margin-right: 5px;
				}
				&:hover,&:active {
					color: $silver;
					border-bottom: 1px solid $silver;
				}
				&.white-background {
					color: $gray;
				}
			}	
		}
	}
}


@include media(large) {
	
	.site-header {
		min-height: 60px;
		&.active {
			height: 100%;
			.header-logo {
				visibility: hidden;
			}
			.site-branding {
				background-color: transparent;
				height: 0;
				span {
					background: $white;
					&::before, &::after {
						background-color: $white;
					}	
				}
			}	
		}
	}

	.site-nav {
		visibility: hidden;
		float: none;
		position: fixed;
		top: 0;
		left: 100%;
		height: 100%;
		width: 100%;
		z-index: 50;
		margin: 0;
		padding: 0;
		background-color: $gray;
		@include prefix(transform, translateX(200%), webkit ms o);
		@include prefix(transition, all 0.7s ease-in, webkit ms o);
		&.active {
			visibility: visible;
			left: 0;
			@include prefix(transform, translateX(50%), webkit ms o);
			opacity: 1;
			background-color: $black;
			@include prefix(transition, all 0.7s ease-in, webkit ms o);
		}
    ul {
    	display: block;
	    position: absolute;
	    top: 50%;
	    @include prefix(transform, translateY(-50%), webkit ms o );
	    li {
    		color: $white;
	    	width: 100%;
	    	margin-bottom: 30px;
	    	&.current-menu-item {
	    		a {
	    			color: $white;
	    			border-bottom: 1px solid $white;
	    		}
	    	}
	    	a {
					color: $gray;
					font-size: 18px;
					margin-bottom: 20px;
					padding-bottom: 10px;
					letter-spacing: 2px;
					&:link, &:visited {
						margin-right: 5px;
					}
					&:hover, &:active {
						color: $white;
						border-bottom: 1px solid $white;
					}
				}	
    	}
    }
	}
	
	.c-hamburger {
		top: 5px;
		right: 10px;
		display: block;
	}

	div.logo {
		img{
			height: 150px;
		}
	}

}

@include media(tablet) {

	.site-nav {
		
		ul {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			@include prefix(transform, translateY(-50%) translateX(-50%), webkit ms o );
			// transform: translateY(-50%) translateX(-50%);
			li {
				margin: 20px 0;
				text-align: center;
			}
		}
		&.active {
			@include prefix(transform, translateX(0%), webkit ms o);
		}
	}

}