/*Header*/
.site-header {
	width:100%;
	position:fixed;
	top: 0;
	left: 0;
	z-index: 2000;
	&.active {
		background-color: $white;
	}
}

.site-header__logo {
 	display: inline-block;
 	width: 60px;
 	visibility: hidden;
 	z-index: 2500;
 	img{
	 	height: 30px;
	 	width: 30px;
	 	margin: 10px 20px;
	 	border-radius: 5px;
	 	&:hover {
	 		cursor: pointer;
	 	}
 	}
 	&.active {
 		visibility: visible;
 	}
}

/*Navigation Menu*/

.site-header__menu {
	display: block;
	position: fixed;
	top: 0;
	left: 100%;
	right: -100%;
	bottom: 0;
	margin: 0;
	opacity: 0;
	z-index: 50;
	@include prefix(transform, translateX(50%), webkit ms o);
	@include prefix(transition, all 0.6s ease-in-out, webkit ms o);
	&.active {
		left: 0;
		right: 0;
		opacity: 1;
		background-color: $black;
		@include prefix(transform, translateX(0%), webkit ms o);
		@include prefix(transition, all 0.6s ease-in-out, webkit ms o);
		@include media-min-width (tablet) {
			@include prefix(transform, translateX(50%), webkit ms o);
			@include prefix(transition, all 0.6s ease-in-out, webkit ms o);
		}
	}
	@include media-min-width(desktop) {
		margin-top: 10px;
		margin-right: 20px;
		display: block;
		float: right;
		position: static;
		opacity: 1;
		@include prefix(transform, none, webkit ms o);
		z-index: 90;
	}
	ul {
    text-align: center;
		display: block;
    position: absolute;
		top: 50%;
		left: 50%;
		@include prefix(transform, translateX(-50%) translateY(-50%), webkit ms o );
		@include media-min-width(tablet) {
			text-align: left;
			left: 10%;
	  }
		@include media-min-width(desktop) {
	    display: inline-block;
	    position: static;
	    @include prefix(transform, none, webkit ms o);
		}
		li {
			margin-bottom: 40px;
			@include media-min-width(desktop) {
				display: inline-block;
				margin-bottom: 0;
			}
    	&.current-menu-item {
    		a {
    			color: $white;
    			border-bottom: 1px solid $white;
    			@include media-min-width(desktop) {
						border-bottom: 1px solid $white;
	    			&.dark-menu {
	    				color: $black;
	    				border-bottom: 1px solid $black;
	    			}
    			}
    		}
    	}
    	a {
    		position: relative; //Needed for :after hover effect.
    		font-size: 18px;
				margin-bottom: 40px;
				padding-bottom: 4px;
				letter-spacing: 2px;
				color: $gray;
				@include media-min-width(tablet) {
					font-size: 25px;
					&::after {
    				display:block;
    				position: absolute;
					  content: '';
					  width: 0;
					  top: 103%;
					  height: 1px;
					  background: $white;
					  @include prefix(transition, width .8s ease .05s, webkit ms o);
    			}
    			&:hover {
    				color: $white;
    			  &::after {
					  width:100%;
    				@include prefix(transition, width .6s ease, webkit ms o);
    				}
    			}
				}
				@include media-min-width(desktop) {
					display: block;
	    		color: $silver;
	    		margin: 10px;
	    		font-size: 18px;
	    		&.dark-menu {
	    			&::after {
						  background: $black;
	    			}
	    			&:hover {
	    				color: $black;
	    				&::after {
					  	width:100%;
    					@include prefix(transition, width .6s ease, webkit ms o);
    					}
	    			}
					}
    		}
			}
		}
    }
}
