/* Hero Page */

.full-width-template, .site-inner {
		max-width:100%;
		padding: 0;
}

/** Section ! Hero Section **/

div.hero {
	position: relative;
	background-size: cover;
	background-position: center;
	min-height:85vh;
}

div.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	img{
		height: 200px;
	}
}


div.cta_container {
	text-align: center;
	vertical-align: middle;
	// background-color: rgba(0 , 0, 0, 0.52);
	// background: rgba(0 , 0, 0, 0.52);
	// color: rgba(0 , 0, 0, 0.52);
}

div.cta_content {
	padding:100px 10px;
	color: $white;
	p{
		margin-bottom: 50px;
	}
}

a.button {
	padding: 10px 20px;
	font-size: 15px;
	color: $white;
	background-color: rgba(0 , 0, 0, 0.52);
	height: 10px;
}

.dark {
	background: $black;
	color: $white;
}

/** Section 2 and 3 **/
div.slider{
	p{
		margin-top: 40px;
		margin-bottom: 40px;
	}
}

div.slider-for {
	overflow: hidden;
	width: 100%;
	height: 80vh;
	// position: relative;
	// .slick-container{
	// 	overflow: hidden;
	// 	position: absolute;
	// 	top: 0;
	// 	right: 0;
	// 	left: 0;
	// 	right: 0;
	// 	img {
	// 		width: 100%;
	// 		min-width: 100%;
	// 	}
	// }	
}

div.text-slider {
	max-width: 700px;
	margin:20px auto;
}


div.about-text {
	overflow: hidden;
}

.image-text,
.text-image {
	display: -webkit-flex;
	display:-ms-flexbox;
	display:flex;
}

.image-left,
.text-right,
.image-right,
.text-left {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 50%;
	color: $black;
	p{
		letter-spacing: 2px;
		margin: 40px 20px;	
	}
	img {
		height: 400px;
		max-height: 1000px;
	}
}

.text-right,
.text-left {
	padding: 0 80px;
	vertical-align: middle;
	h1{
		font-size: 18px;
		font-weight: 600;
		line-space: 4px;
		margin-bottom: 25px;
		text-align: center;
	}
	p{
		font-size: 14px;
		letter-spacing: 3px;
		line-height: 150%;
	}
}

.text-left {
	float: left;
}

.text-right {
	float: right;
}