/** Section 1 Hero Section **/

.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	img {
		width: 40px;
		border: 1px solid $white;
		border-radius: 50px;
		padding: 5px;
		opacity: 0.9;
		@include media-min-width(mobile) {
			border: 2px solid $white;
			width: 60px;
		}
		@include media-min-width(desktop) {
			width: 80px;
		}
	}
}

/** Section 2 Slider Section **/

.home-slider {
	width: 100%;
	margin: 0 auto;
	.slick-dots {
		visibility: hidden;
		@include media-min-width(mobile) {
			visibility: visible;
			bottom: -5px;
			button{
				&:before {
					font-size: 10px;
				}
			}
		}
	}
	.slick-slide {
		img {
			width: 100%;
		}
		p {
			margin-top: 5px;
			text-align: right;
		}
	}
}

/** Section 4 About Section **/

.featured_link {
	float: right;
	font-size: 20px;
	margin-bottom: 20px;
	padding-right: 5px;
	@include media-min-width (mobile) {
		font-size: 25px;
	}
	@include media-min-width(tablet) {
		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			height: 1px;
			left: 0;
			background-color: $black;
			visibility: hidden;
			@include prefix(transform, scaleX(0), webkit ms );
			@include prefix(transition, all 0.3s ease-in-out .3s, webkit ms );
		}
		&:hover{
			&::after {
				visibility: visible;
				@include prefix(transform, scaleX(1), webkit ms );
				@include prefix(transition, all 0.3s ease-in-out 0s, webkit ms );
			}
		}
	}
}

.project-gallery {
	width: 100%;
	margin: 35px 0;
	font-size: 0;
	clear:right;
}

.gallery-image {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	@include media-min-width(mobile) {
		@include calc( width, '50% - 20px');
		padding: 10px;
	}
	@include media-min-width(tablet) {
		@include calc(width, '25% - 10px');
		padding: 5px;
	}

	&.is-loading {
		 background-color: $black;
	}

	img {
		width: 100%;
		opacity: 0;
  	@include prefix(transition, opacity 0.5s ease-in, webkit ms o);
  	&.lazy{
  		opacity: 1;
  	}
	}

	p {
		padding: 30px 0;
		text-transform: capitalize;
		text-align: center;
		border-bottom: 1px solid $black;
	}

}

