.news-content {

	main{
		padding-top: 60px;
	}

	.image-news {
		position: relative;
		overflow: hidden;
		float: left;
		margin: 50px auto;
		@include prefix(background-size, cover, webkit ms o);
		@include media-max-width(mobile) {
			width: 100%;
		}
		@include media-min-width( mobile ) {
			width: 50%;
		}
		&:before {
			content: "";
			display: block;
			float: left;
			padding-bottom: 50%;
		}
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3), 
		&:nth-child(4) {
			margin: 0;
		}

		&:nth-child(1){
			&:before{
				padding-bottom: 100%;
			}
		}
		&:nth-child(2){
			&:before{
				padding-bottom: 50%;
			}
		}
		&:nth-child(3), 
		&:nth-child(4){
			width: 25%;
			&:before {
				padding-bottom: 100%;
			}
			a{
				font-size: 16px;
				font-style: capitalize;
			}
		}
		a {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;
			font-size: 25px;
			color: $white;
			opacity: 1;
			text-align: center;
			vertical-align: middle;
			text-transform: capitalize;
			padding: 0;
			span {
				width: 100%;
				color: $white;
				font-weight: 100;
				line-height: 1.5;
				z-index: 30;
			}
			&:hover{	
				opacity: 0.7;
				background-color: $black;
				margin: -1px;
			}
		}
	}

	@include media-max-width(tablet) {
		.image-news {
			a{
				font-size: 18px;
			}
			// &:nth-child(2), &:nth-child(3), &:nth-child(4){
			// 	&:before {
			// 		padding-bottom:100%;
			// 	}
			// }
			// &:nth-child(3), &:nth-child(4){
			// 	width: 50%;
			// }
		}	
	}

}
