#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  z-index: 3000;
}

.loader__box {

  position: absolute;
  top: 50%;
  left: 50%;
  @include prefix(transform, translateY(-50%) translateX(-50%), webkit ms);
  width: 75px;
  height: 100px;
  z-index: 3200;
}

.loader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background: $black;
  transform-origin: center bottom;
  box-shadow: 1px 1px 0 $shadow;

  @for $i from 1 through 5 {
     &:nth-child(#{$i}) {
       left: ($i - 1) * 15px;
       @include prefix(transform, scaleX(1,$i*.2), webkit ms );
       @include prefix(animation, barUp#{$i} 3.5s infinite, webkit ms );
      }
  }
}

.loader__ball {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: $black;
  border-radius: 50%;
  @include prefix(animation, ball 3.5s infinite, webkit ms );
}
