.projects {
	.projects-link-page {

		text-align: right;
		font-size: 13px;
		a {
			display: inline-block;
			font-weight: 300;
			padding: 10px;
			text-align: center;
			margin-right: 5px;
		}
	}

	.about-project {
		width: 70%;
		margin: 0 auto;
		p {
			padding: 0 25px 30px;
		}
	}
	.state-select,
	.city-select,
	.search-project,{
		width: 250px;
		font-size: 20px;
		margin-right: 20px;
		outline: none;
		@include prefix(border-radius, 0, webkit ms o);
		option {
			display: block;
			width: 230px;
			font-size: 20px;
		}
	}


	.city-select{
		.cities-item--active {
			display: block;
		}
		.cities-item--inactive {
			display: none;
		}
	}

	.projects-form {
		display: inline-block;
		border: 1px $silver solid;
		vertical-align: middle;
		margin-left: 20px;
		input,
		button {
			color: $gray;
			display: inline-block;
			font-size: 20px;
		}
		input {
			width: 280px;
			margin-right: 0;
			border: none;
		}
		button {
			border: 1px $silver solid;
			text-align: center;
			padding: 0 20px;
		}
	}

	.project-gallery{
		width: 100%;
		margin: 20px 0;
		overflow: hidden;
		.gallery-image {
			width: 100%;
			margin: 20px auto;
			&.is-loading {
				 background-color: $black;
			}
			@include media-min-width( mobile ) {
				float: left;
				width: 46%;
				padding: 0 2%;
			}
			@include media-min-width( tablet ) {
				width: 25%;
				padding: 0;
			}
			img, p {
				display: block;
				width: 100%;
				margin: 20px auto 30px;
			}
			img {
				@include media-min-width( large ) {
					min-height: auto;
				}
				@include media-min-width( tablet ) {
					width: 90%;
				}
				@include media-max-width ( mobile ) {
					@include calc(min-height,100vw/(1200/694));
					@include calc(max-height,100vw/(1200/694));
				}
			}
			p {
				text-align: center;
				padding-bottom: 25px;
				border-bottom: 1px solid $black;
				text-transform: capitalize;
				@include media-min-width( tablet ) {
					width: 90%;
				}
			}
		}

	}


}

