/* Raleway thin */
@font-face {
  font-family: 'Raleway-Thin';
  font-style: normal;
  font-weight: 100;
  src: url('..src/fonts/Raleway/Raleway-Thin.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* Raleway Extra Light */
@font-face {
  font-family: 'Raleway-Extra-light';
  font-style: normal;
  font-weight: 200;
  src: url('..src/fonts/Raleway/Raleway-ExtraLight.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* Raleway Extra Light */
@font-face {
  font-family: 'Raleway-light';
  font-style: normal;
  font-weight: 300;
  src: url('..src/fonts/Raleway/Raleway-Light.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* ORaleway  Medium */
@font-face {
  font-family: 'Raleway-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('..src/fonts/Raleway/Raleway-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* Raleway  bold */
@font-face {
  font-family: 'Raleway-bold';
  font-style: normal;
  font-weight: 700;
  src: url('..src/fonts/Raleway/Raleway-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}
