$white: #fff;
$black: #000;
$gray: #595959;
$blue: #000033;
$silver: #c0c0c0;
$lightgray: #dadada;
$seagreen: #b9e2e0;
$darkseagreen: #6f8888;
$Merriweather: 'Merriweather Sans';
$container-max-width: 1280px;
$content-lenght: 720px;