.DS_Store
#sass files
/wp-content/themes/sanisidro/.sass-cache

#module control
/wp-content/themes/sanisidro/node_modules
/wp-content/themes/sanisidro/npm_log
npm-debug.log

#Git flow
gitflow-installer.sh
gitflow/

# Config
/wp-content/themes/sanisidro/src/inc/config.php
