<footer>
    <p class="copyright">&copy; {{ now|date('Y') }} by {{ bloginfo('name') }}</p>
    {{ function('wp_footer') }}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-82838385-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-82838385-4');
    </script>
</footer>
