{% extends "base.twig" %}

{% block content %}

  {% if post %}

    <section class="contact">
      <h1 class="contact__title">{{ post.title }}</h1>
      {{ post.content }}
      <div class="contact__map"></div>
    </section>

    <section>

      <div id="respond">
        {{ response }}
        <form action="{{ post.link }}" method="POST">
          <p><label for="name">Name: <span>*</span> <br><input type="text" name="message_name" placeholder="John Smith"></label></p>

          <p><label for="message_email">Email: <span>*</span> <br><input type="text" name="message_email" placeholder="youremail@server.com"> </label></p>

          <p><label for="message_text">Message: <span>*</span> <br><textarea type="text" name="message_text" > </textarea> </label></p>

          <p> <label for="message_human">Human Verification: <span>*</span> <br><input class='human' type="text"  name="message_human"> + 3 = 5</label></p>
          <input type="hidden" name="submitted" value="1">
          <p><input type="submit"></p>
        </form>

      </div>

    </section>

  {% endif%}

{% endblock %}
