//Roboto Font

/* Roboto Light */
@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype'); /* Safari, Android, iOS */
  font-display: swap;
}
/* Oswald Regular */
@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-display: swap;
}

/* Roboto Bold */
@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-display: swap;
}

//Merriweather Font

/* Merriweather Light */
@font-face {
  font-family: 'Merriweather-Light';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Merriweather/Merriweather-Light.ttf') format('truetype'); /* Safari, Android, iOS */
  font-display: swap;
}

/* Merriweather Extra Regular */
@font-face {
  font-family: 'Merriweather-Regular';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Merriweather/Merriweather-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-display: swap;
}

/* OMerriweather  Bold */
@font-face {
  font-family: 'Merriweather-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Merriweather/Merriweather-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-display: swap;
}
