.site-header {
  position:fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc( 100% - 40px ) ;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: $white;
  padding: 15px 20px;
  @include media-min-width(mobile) {
    padding: 15px 30px;
    width: calc( 100% - 60px ) ;
  }
  @include media-min-width(mobile) {
    padding: 15px 40px;
    width: calc( 100% - 80px ) ;
  }
}

.site-header__icon {
  display: block;
  height: 100%;
  z-index: 2500;
  img {
    height: 30px;
    width: 30px;
    &:hover {
      cursor: pointer;
    }
  }
}

