body  {
  height: 100%;
  font-size: 14px;
  color: $black;
  &.fixed {
    top: 0;
    overflow: hidden;
  }
}

h1, h2, h3, a {
  font-family: $serif;
}

section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: calc(100% - 40px);
  &:first-child {
    min-width: 100%;
    width: 100%;
    padding: 0;
  }
  @include media-min-width(mobile) {
    padding: 20px 30px;
    width: calc(100% - 60px);
  }
  @include media-min-width(tablet) {
    padding: 20px 40px;
    width: calc(100% - 80px);
  }
  @include media-min-width(desktop) {
    margin: 0 auto;
    width: 100%;
    max-width: 980px;
  }

  .title {
    font-size: 22px;
    margin: 30px auto;
    text-transform: capitalize;
    text-align: left;
    @include media-min-width(mobile) {
      font-size: 35px;
    }
    @include media-min-width(tablet) {
      font-size: 40px;
      margin: 30px 0;
    }
    @include media-min-width(desktop) {
      font-size: 45px;
      margin: 40px 0;
    }
  }

  .copy {
    font-size: 18px;
    margin: 40px 0;
    @include media-min-width(mobile) {
      margin: 50px 0;
      max-width: 780px;
    }
  }

  .not-found {
    display: none;
    margin: 40px 0;
    padding: 40px;
    border: 1px solid $black;
    opacity: 0;
    transition: opacity 0.9s linear 0.2s;
    &__logo {
      display: block;
      width: 100px;
      margin: 60px auto;
    }
    &__copy {
      display: block;
      margin: 50px 0;
      text-align: center;
      font-size: 25px;
      font-family: $sanserif;
    }
    &.visible {
      display: block;
      opacity: 1;
      transition: opacity 0.9s linear 0.2s;
    }
  }
}

a {
  position: relative;
  text-transform: capitalize;
  text-decoration: none;
  color: $black;
}

p {
  font-family: $sanserif;
  line-height: 1.5;
}

.container {
  display: flex;
  flex-direction: column;
  width:100%;
  position: relative;
}

.hero {
  position: relative;
  width: 100%;
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &:before {
    content: "";
    display: block;
    padding-top: 56.25%;
    @include media-min-width(tablet) {
      padding-top: 46.25%;
    }
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  margin: 35px 0;
  font-size: 0;

  &.invisible {
    display: none;
  }

  @include media-min-width(mobile) {
    flex-direction: row;
  }

  &__image {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    @include media-min-width(mobile) {
      width: calc(50% - 20px);
      padding: 10px;
    }
    @include media-min-width(tablet) {
      padding: 5px;
      width: calc(25% - 10px);
    }
    a {
      position: relative;
      display:  block;
      margin: 0;
      transition: filter .8s ease-in-out .2s;
      &:before {
        content: "";
        display: block;
        padding-top: 56.25%;
      }
      &:hover {
        filter: sepia(0.8);
        transition: filter .7s ease-in-out;
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
    p {
      padding: 30px 0;
      text-transform: capitalize;
      text-align: center;
      border-bottom: 1px solid $black;
    }
  }

  img {
    opacity: 1;
    transition: opacity ease-in-out 1s;
    &.lazy {
       opacity: .4;
       transition: opacity ease-in-out 1s;
    }
  }
}
