$white: #fff;
$black: #000;
$gray: #595959;
$blue: #000033;
$silver: #c0c0c0;
$lightgray: #eeeeee;
$seagreen: #b9e2e0;
$darkseagreen: #6f8888;
$container-max-width: 1024px;
$content-lenght: 720px;
$sanserif: 'Roboto-Light';
$serif: 'Merriweather-Light';
$shadow: rgba(0,0,0,.2);
