.page-template-tpl-archive-project {
  padding: 20px;
  .title {
    margin: 80px auto 0;
    max-width: 1200px;
    text-align: center;
  }
  .home-gallery{
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
  }
}
