.DS_Store
#sass files
.sass-cache/
.projectnotes

#module control
/wp-content/themes/sanisidro/node_modules
/wp-content/themes/sanisidro/npm_log
node_modules
npm_log

#Git flow
gitflow-installer.sh
gitflow/

*-old.php

#Timber
composer.lock
/vendor/

#Webpack
package-lock.json
package-lock.json.bk

